<h1>Pushes index</h1>

<div class="pushes">
</div>

<script>
  // CONST
  //var IMGN = data.length;
  var OPA = 0.8;
  var TP = 30;
  var LP = 0;
  var DOC_WIDTH = document.documentElement.clientWidth/4;
  var DOC_HEIGHT = document.documentElement.clientHeight;
  var NAME = 'last_id';
  // set random image
  function random_image(data){
    console.log("koko");
    for (var i = 0, len = data.length; i < len; i++){
      var xpx = Math.floor(DOC_WIDTH*Math.random()) + LP;
      var ypx = Math.floor(DOC_HEIGHT*Math.random()) + TP;
      var d = data[i].user.image_url;
      var str = "<div STYLE='position:absolute;left:"+ xpx +"px;top:"+ ypx +"px;z-index:-1;OPAcity:"+OPA+";'><img src='"+d+"'></div>";
      $(".pushes").append(str);
    }
  }
  // LOOP function
  $(function() {
    setInterval(function() {
      var n = getCookie(NAME);
      $.getJSON('/pushes.json',
      {NAME: n},
      function(data){
        if (data.length == 0){
          console.log("data is null");
          return;
        }
        random_image(data);

        var last = data[data.length - 1];
        setCookie(NAME, String(last.id));
      });
    }, 1000);
  });
  function setCookie(name, val) {
    var extime = new Date().getTime();
    var cltime = new Date(extime + (60*60*24*1000*3));
    var exdate = cltime.toUTCString();
    var s = name + "=" + escape(val) + ";expires=" + exdate + ";";
    console.log("SET NOW" + name + " " + val);
    document.cookie = name + "=" + escape(val) + ";expires=" + exdate + ";";
    console.log(document.cookie);
  }
  function getCookie(name){
    var s = document.cookie;
    if (s.length <= 0) return 0;
    var st = s.indexOf(name + "=");
    if (st != -1){
      st = st + name.length + 1;
      var ed = s.indexOf(";", st);
      if (ed == -1) ed=s.length;
      console.log("GET NOWlast_id " + s.substring(st, ed));
      return unescape(s.substring(st, ed));
    }
    return 0;
  }
</script>
