
<div class="pushes">
</div>

<script>
  jQuery(function($) {
    // CONST
    //var IMGN = data.length;
    var OPA = 0.8;
    var TP = 30;
    var LP = 0;
    var DOC_WIDTH = document.documentElement.clientWidth;
    var DOC_HEIGHT = document.documentElement.clientHeight;

    // cookies
    var setCookie = function(name, val) {
      var extime = new Date().getTime();
      var cltime = new Date(extime + (60*60*24*1000*3));
      var exdate = cltime.toUTCString();
      var s = name + "=" + encodeURIComponent(val) + ";expires=" + exdate + ";";
      console.log("SET NOW " + name + " " + val);
      document.cookie = name + "=" + encodeURIComponent(val) + ";expires=" + exdate + ";";
    };

    var getCookie = function(name){
      var s = document.cookie;
      if (s.length <= 0) {
        console.log("Cookie is empty");
        len = getLastId;
        return len;
      }
      var st = s.indexOf(name + "=");
      if (st != -1){
        st = st + name.length + 1;
        var ed = s.indexOf(";", st);
        if (ed == -1) ed=s.length;
        return decodeURIComponent(s.substring(st, ed));
      }
      return 0;
    };

    var getLastId = function(){
      $.getJSON('/pushes.json',
      function(pushes){
        if (pushes.length == 0) return 0;
        var last = pushes[pushes.length - 1];
        setCookie('last_id', String(last.id));
        return String(last.id);
      });
    }

    // LOOP function
    var fetchPushes = function() {
      var n = getCookie('last_id');
      $.getJSON('/pushes.json',
      {'last_id': n},
      function(pushes){
        if (pushes.length == 0){
          return;
        }
        showPushes(pushes);

        var last = pushes[pushes.length - 1];
        setCookie('last_id', String(last.id));
      });
    };

    // set random image
    var showPushes = function(pushes){
      pushes.forEach(function(push) {
        var xpx = Math.floor((DOC_WIDTH/4)*Math.random()) + LP;
        var ypx = Math.floor(DOC_HEIGHT*Math.random()) + TP;
        var d = push.user.image_url;

        var elem = $("<div>")
          .css('position', 'absolute')
          .css('left', xpx.toString() + "px")
          .css('top', ypx.toString() + "px")
          .css('z-index', 1)
          .css('opacity', OPA);

        elem.append($('<img>').attr('src', d));

        $(".pushes").append(elem);
        animateImage(elem);
      });
    };
    
    // animate
    var animateImage = function(image){
      image.animate(
        {left: DOC_WIDTH.toString() + "px" },
        {
          queue: false,
          duration: 3000,
          complete: function() {
            image.remove();
          }
        }
      );

      image.animate({top: Math.floor(DOC_HEIGHT*Math.random())}, 3000);
    };

    setInterval(fetchPushes, 500);
  });
</script>
